<div class="d-flex flex-wrap gap-2">
  <%= link_to "Open",
    root_path(query_params_with_status("open")),
    class: "btn btn-sm #{current_status == 'open' ? 'btn-dark' : 'btn-outline-dark'}" %>
  <%= link_to "Returned",
    root_path(query_params_with_status("returned")),
    class: "btn btn-sm #{current_status == 'returned' ? 'btn-dark' : 'btn-outline-dark'}" %>
</div>
